/* components/AnimatedHeading.module.css */
.heading {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: #333;
  text-align: center;
  position: relative;
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: letter-in 0.5s forwards;
}

.letter.noShadow {
  animation: shadow-out 0.5s forwards;
}

@keyframes letter-in {
  0% {
    top:100;
    left:100;
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
    text-shadow:
      -10px 10px 10 magenta,
      10px 10px 10 red,
      10px 10px 10 yellow;
  }
  50% {
    top:0;
    left:0;
    opacity: 1;
    transform: translateY(0) scale(1);
    text-shadow:
    -4px 4px 1 magenta,
    -4px -4px 1 red,
    4px 4px 1 yellow;
  }
  100% {
    text-shadow: none;
    opacity: 1;
  }
}

/* components/YourModule.module.css */
.shadoWave {
  /* Set the initial size and appearance */
  width: 100%;
  height: 100%;
  border-radius: 9999px; /* This is the Tailwind equivalent of rounded-full */
  background-color: #dd4545;
  filter: drop-shadow(0px 0px 1px #dd4545);

  /* Apply the animation */
  animation: circleWave 2s ease-in-out infinite;
}

@keyframes circleWave {
  /* Start with a small scale and full opacity */
  from {
    transform: scale(0.7);
    opacity: 1;
  }
  /* Expand the scale and fade out */
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}